@tailwind base;
@tailwind components;
@tailwind utilities;

/* chat Loader */
.dot {
  animation: dot-pulse 0.9s ease both infinite;
  background: #1a4fba;
  border-radius: 100%;
  display: inline-block;
  height: 12px;
  width: 12px;
}

.dot--one {
  animation-delay: 0;
}
.dot--two {
  animation-delay: 0.3s;
}
.dot--three {
  animation-delay: 0.6s;
}

@keyframes dot-pulse {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.sidebar-hidden {
  transform: translateX(-100%);
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.sidebar-visible {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

/* scrollbar */

.styled-scrollbar::-webkit-scrollbar {
  width: 15px;
  background-color: #1a4fba;
  border-radius: 10px !important;
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px !important;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background: #1a4fba;
  border-radius: 10px !important;
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1a4fba;
}

/* Firefox */
.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #1a4fba white;
}

/* Internet Explorer and older versions of Edge */
.styled-scrollbar {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
